* {
   -fx-labeled-button-border-color: #616161;
   -fx-labeled-button-label-background-color: transparent;
   -fx-labeled-button-font-family: Franklin Gothic Medium;
}

.button {
	-fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-border-width: 0,0,0,0;
    
    -fx-background-color: #616161;
	-fx-text-fill: #FFFDE7;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-font-size: 11;
}

.button:hover {
    -fx-border-color: -fx-labeled-button-border-color;
    -fx-background-color: linear-gradient(to bottom, #F72A30, #FF0000);
    -fx-font-size: 11;
    -fx-border-width: 0,0,0,0;
}

.button:pressed{
    -fx-border-color: -fx-labeled-button-border-color;
    -fx-text-fill: #000000;
    -fx-background-color: #00C8FF;
    -fx-font-size: 11;
    -fx-border-width: 0,0,0,0;
}

.label {
	/*-fx-background-color: transparent;*/
	
	-fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
	
	-fx-font-family: -fx-labeled-button-font-family;
	-fx-font-style: normal;
	-fx-font-size: 12;
	-fx-font-weight: bold;
}

#lbTitleLabel {
	-fx-text-fill: #000000;
}

#lbLabel {
	-fx-text-fill: #00BFFF;
	/*-fx-border-radius: 10 0 0 10;*/
    /*-fx-background-radius: 10 0 0 10;*/
    /*-fx-border-width: 2 0 2 2;*/
    -fx-border-color: -fx-labeled-button-border-color;
    
    -fx-font-style: oblique;
}