#itoGraphRight {
	-fx-border-width: 0.5px;
	-fx-border-color: #616161;
}

#ItoGraphPane {
	-fx-border-width: 0.0px 1.0px 0.0px 0.0px;
	/*-fx-border-color: #FFEB3B; change thi later to turn yellow on alert */
	-fx-border-color: #000000; 
}

#diffusionSidePanel {
	-fx-border-width: 0.0px 10.0px 0.0px 0.0px ;
	/*-fx-border-color: #FFEB3B; change this later to turn yellow on alert*/
	-fx-border-color: linear-gradient(to bottom, #00CC00, #00FF00);
}

.button {
	-fx-background-color: #FF6F00;
    -fx-border-color: #FF7043;
    -fx-border-width: 2px;
    -fx-text-fill: #17202A;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #FF6F00, #FF5722);
}

.button:hover {
    -fx-background-color: #FF6F00;
    -fx-border-color: #616161;
    -fx-border-width: 2px;
    -fx-text-fill: #FFFDE7;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #FF6F00, #FF5722);
}

.button:pressed{
    -fx-background-color: #00FF33;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-text-fill: #FFFDE7;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #FF6F00, #FF5722);
}
