.chart {
	-fx-padding: 0px 30px 0px 0px;
	/*
	-fx-font-family: Franklin Gothic Medium;
	-fx-font-size: 16px; 
	-fx-font-style: oblique;
	-fx-effect: dropshadow( one-pass-box, rgba(0,0,0,0.5),2,0,1,1 );
	* 
	*/
}

.chart-plot-background {
	-fx-background-color: #FFFFFF;
	-fx-opacity: 0.90;
	-fx-border-color: transparent;
}

.chart-series-line {
	-fx-stroke-width: 0.15px;
}