.chart {
	-fx-padding: 0px 30px 0px 0px;
	-fx-font-family: Franklin Gothic Medium;
	-fx-font-size: 16px; 
	-fx-font-style: normal;
	-fx-effect: dropshadow( one-pass-box, rgba(160,160,160,0.5),2,0,1,1 );
}

.chart-plot-background {
    -fx-background-color: #000000;
    -fx-border-color: transparent;
}

.chart-symbol{ 
	-fx-shape: "M-5,0a5,5 0 1,0 10,0a5,5 0 1,0 -10,0";
	/*-fx-shape: "M0 0 L0 50 L25 25 L50 50 L50 0 Z";*/
    /*-fx-shape: "M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100";*/
    -fx-background-repeat: repeat;
    -fx-scale-shape: false;
}

.series0 {
	-fx-background-color: #FF1901;
}
	
.series1 {
	-fx-background-color: #FF9900;
}
	
.series2 {
	-fx-background-color: #FFF400;
}
	
.series3 {
	-fx-background-color: #9FFB5A;
}

.series4 {
	-fx-background-color: #17F8AF;
}

.series5 {
	-fx-background-color: #01ECFD;
}

.series6 {
	-fx-background-color: #0196FB;
}

.series7 {
	-fx-background-color: #014BFF;
}

.series8 {
	-fx-background-color: #022CDD;
}
	
.series9 {
	-fx-background-color: #02178D;
}

.series10 {
	-fx-background-color: #FFFFFF;
} 
