.scene {
	-fx-background-color:  transparent;
}

.root {
	-fx-background-color: transparent;
}

#topMainPane {
	-fx-background-color: radial-gradient(center 50% 50% , radius 100% , #000000, #000000);
	-fx-border-width: 0.5px;
	-fx-border-color: #FAFAFA;

}

#bottomMainPane {
	-fx-background-color: radial-gradient(center 50% 50% , radius 100% , #000000, #000000);
	-fx-border-width: 0.5px;
	-fx-border-color: #FAFAFA;
}

#mainPane {
	/*-fx-background-color: rgba(255, 255, 255, 0.5);*/
	-fx-background-color: radial-gradient(center 50% 50% , radius 100% , #FAFAFA, #BDBDBD);
}

#leftMainPane {
	-fx-background-color: #000000;
}

.button {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
	
	-fx-background-color: #616161;
	-fx-text-fill: #FFFDE7;
}

.button:hover {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    
    -fx-text-fill: #FFFDE7;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #F72A30, #FF0000);
}

.selected {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    
    -fx-text-fill: #FFFDE7;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 11;
    -fx-background-color: linear-gradient(to bottom, #F72A30, #FF0000);
}

.button:pressed{
    -fx-text-fill: #000000;
    -fx-background-color: #00C8FF;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

.functional-button {
	-fx-border-width: 0.5px;
	-fx-border-color: #FFFDE7;
	
	-fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.functional-button:hover {
    -fx-text-fill: #FFFDE7;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 11;
    -fx-background-color: linear-gradient(to bottom, #F72A30, #FF0000);
}

.functional-button:pressed{
	-fx-text-fill: #000000;
    -fx-background-color: #00C8FF;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 11;
}

.button:disabled {
	-fx-background-color: transparent;
	-fx-text-fill: transparent;
}

#bottomMainLabel {
	-fx-background-color: transparent;
	-fx-text-fill: #FFFFFF;
	-fx-font-style: oblique;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: aliceblue;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 5 5 5, 0 5 5 5, 0 5 5 5;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; 
    -fx-opacity: 0.9;
}

.menu-bar {
	-fx-min-height: 35px;
	-fx-max-height: 35px;
	-fx-alignment: center-left;
    -fx-border-width: 0px;
    -fx-text-fill: #FFFDE7;
    -fx-background-color: #616161;
}

.menu .label
{
    -fx-text-fill: #FFFFFF;
}

.menu {
	-fx-min-height: 35px;
	-fx-max-height: 35px;
    -fx-font-family: Franklin Gothic Medium;
    -fx-text-fill: #FFFDE7;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 11; 
    -fx-background-color: #616161;
}

.menu-item .label{
    -fx-text-fill: #000000;
}

.menu-item {
	-fx-min-height: 30px;
	-fx-max-height: 30px;
    -fx-text-fill: #FFFDE7;
    -fx-font-family: Franklin Gothic Medium;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 11;
}

.menu-item:hover {
	-fx-min-height: 30px;
	-fx-max-height: 30px;
    -fx-text-fill: #FFFDE7;
    -fx-font-family: Franklin Gothic Medium;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 11;
    -fx-background-color: #00C8FF;
}

.menu-button:showing {
	-fx-background-color: #000000;
}

/* 
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
}
*/

.dialog-pane{
  -fx-background-color: #000000;
}

.dialog-pane .label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.dialog-pane:header .header-panel {
  -fx-background-color: #000000;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: #000000;
  -fx-font-size: 24.0px;
  -fx-text-fill: #FFFDE7;
  -fx-font-family: Franklin Gothic Medium;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #00C8FF;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0em;
}

.progress-bar .bar {
  -fx-background-color: #00C8FF;
}

