#splashPane {
	-fx-background-color: linear-gradient(to bottom, #808080, #000000);
}

#title-text {
	/*-fx-fill: linear-gradient(to bottom, #FF6F00, #FF5722);*/
	-fx-fill: linear-gradient(to bottom, #F72A30, #FF0000);
}