#DiffusionInputPane {
	-fx-background-color: #F9FFFF;
	-fx-border-width: 0.0px 10.0px 0.0px 0.0px ;
	-fx-border-color: linear-gradient(to bottom, #FFEB3B, #f5f5dc);
}

/*http://blog.e-zest.net/gradients-in-javafx-2/ */

/*http://htmlcolorcodes.com/color-chart/ */

#inputGrid {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #F9FFFF, #FAFAFA);
}

.text-field {
	-fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
	-fx-border-width: 0.5px;
	
	-fx-background-color: #f5f5dc;
	-fx-border-color: #000000;
}

.text-field:focused {
	-fx-prompt-text-fill: transparent;
	-fx-background-color: #FFEB3B;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.textfielderror {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
	
	-fx-background-color: #FFCCBC;
    -fx-border-color: #FF0000;
    -fx-border-width: 2px;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}