.chart {
	-fx-padding: 0px 30px 0px 0px;
	
	-fx-font-family: Franklin Gothic Medium;
	-fx-font-size: 16px; 
	-fx-font-style: normal;
	-fx-effect: dropshadow( one-pass-box, rgba(0,0,0,0.5),2,0,1,1 );

}

.chart-plot-background {
	-fx-background-color: #FFFFFF;
	/*-fx-opacity: 0.1;*/
	-fx-border-color: transparent;
}

.default-color0.chart-series-area-line {
    -fx-stroke: transparent;
    -fx-stroke-width: 0.0px ;
}

.default-color1.chart-series-area-line {
    -fx-stroke: transparent;
    -fx-stroke-width: 0.0px ;
}

.default-color0.chart-series-area-fill {
    -fx-fill: #FF0000;
    -fx-blend-mode: difference;
}
.default-color1.chart-series-area-fill {
    -fx-fill: #FF0000;
    -fx-blend-mode: difference;
}